* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* background-color: #f4f4f4; */
	/* background-color: rgb(183, 238, 238); */
	background-color: rgb(203, 211, 240);
	line-height: 1.6;
	color: #333;
}

.name{
    background-color: transparent; /* Adjust background color as needed */
    padding: 10px;
    margin-left: 140px;
    margin-top: 40px;
    position: absolute;
    font-size: 30px;
    color: #00246B;
}
.search_bar {
	text-align: center;
	margin-top: 15px;
	margin-bottom: -35px;
	width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    display: flex;
}
.search_bar::before{
	content: "";
    position: absolute;
    top: 60px;
    right: 0;
    background: url('/img/banner.jpg') no-repeat center center/cover;
    height: 350px;
    width: 100%;
    z-index: -1; 
    opacity: .35;
}

.search_bar_text{
    width: 100%;
    height:200px ;
}
.search_bar_text_1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00246B;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.search_bar_text_2{
    margin-top: -10px;
}
.search_bar_text_2 p{
    text-align: center;
    color: #00246B;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 20px;
}
.search_left{
    float: left;
    text-align: center;
}
.search_middle{
    float: left;
}
.search_bar_main{
    display: flex;
    justify-content: center;
}
.search_left input{
    position: relative;
    display: inline-block;
    font-size: 15px;
    box-sizing: border-box;
    background: #ffffff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    border-style: solid;
    border-color: #00246B;
}

.search_middle input{
    position: relative;
    display: inline-block;
    font-size: 15px;
    box-sizing: border-box;
    background: #ffffff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius:0 25px 25px 0;
    border-style: solid;
    border-color: #00246B;
    border-left: none;
}

.search_right_btn{
    position: relative;
    left: -25px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(to right, #ff8a00, #da1b60);
    border-color: #140B5C;
    /* transition: all 0.25s linear; */
    border-radius: 0 25px 25px 0;
    font-size: 16px;
    border: 3px solid #140B5C;
}

.job-listings {
	margin: 0px;
	padding: 0px;
}

.job-listings h2 {
	color: #00246B;
	font-size: 25px;
	margin-bottom: 10px;
	margin-top: 0px;
	text-align: center;
}

.job-listings ul {
	list-style: none;
}

.job-listings li {
	background-color: #fff;
	border: 2px solid #00246B;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-listings h3 {
	color: #00246B;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.job-listings p {
	font-size: 15px;
	margin-bottom: 10px;
}

.job-listings a {
	background-color: #00ABE4;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.job-listings a:hover {
	background-color: #00246B;
}

.job-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .joc {
      height: auto;
      width: 20%;
      margin: 10px; 
      padding: 8px;
      text-align: center;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);
  }
  .joc h2 {
    color: #444;
    padding: 20px 0;
    font-size: 15px;
  }
  .joc p{
      color: #777;
      font-size: 14px;
      line-height: 1.6;   
  }
  .job-d-h {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .job-r {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .j-r-l {
    width: 35%;
    background-color: #729bec;
    padding: 20px;
    border: 2px solid black;
    border-left: none;
  }
  .j-r-r {
    width: 15%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
  }
  .j-r-r h2{
    display: flex;
    justify-content: center;
  }
  .j-r-r h4{
    color: black;
    display: flex;
    justify-content: center;
  }
  .j-des h3,h4,p{
    color: black;
  }
  
  .job_logout a{
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 20px;
  }
  .know_btn{
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 15px;
    background: #333;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}
.know_btn:hover{
    transform: scale(1.03);
    letter-spacing: 1px;
    transition: all .3s ease-in;
}
.joc:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in;
}

.img-logo{
  width: 35%;
  height: 30%;
}  
.img-logo_details_page{
    width: 55%;
    height: 55%;
    margin: 15px 45px 15px 45px;
  }
  
  .login_btn{
    color: #fff;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 60px;
    padding: 8px 15px;
    background: #00246B;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin-left: 47%;
    font-weight: bold;
  }
  .login_btn:hover{
    transform: scale(1.1);
    transition: all .3s ease-in;
    background-color: #729bec;
    color: black;
  }